<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Omni.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Omni.Web.Properties.Settings>
            <setting name="Omni_Web_org_omniproject_internal_ProtectedWebService"
                serializeAs="String">
                <value>http://omniproject.org/Service/ProtectedWebService.asmx</value>
            </setting>
            <setting name="Omni_Web_org_omniproject_public_PublicWebService"
                serializeAs="String">
                <value>http://omniproject.org/Service/PublicWebService.asmx</value>
            </setting>
        </Omni.Web.Properties.Settings>
    </applicationSettings>
</configuration>