<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Omni.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Omni.Client.Properties.Settings>
            <setting name="Omni_Client_org_omniproject_service_OmniService"
                serializeAs="String">
                <value>http://localhost/service/omniservice.asmx</value>
            </setting>
        </Omni.Client.Properties.Settings>
    </applicationSettings>
</configuration>