/* ----------------------------
   Colors for body and layers
   ---------------------------- */

body 
{
	background-color: #ccdeff;
	/*background-color: #3e7eb4;*/
	font-size:9pt;
}

div.topbar
{
	background-color: #0b3558;
	color: White;	
	border-color: #0b3558;
	height: 50px;
	margin-bottom: 10px;

}

div.topbarLeft
{
	background-image: url(omnilogo_sm.gif);	
	background-repeat: no-repeat;
	width:81px;
	height:30px;
	margin: 8px;
}

div.topbarRight
{
	margin: 8px;
}

div.lower
{
	background-image: url(grad1.jpg);
	background-repeat: repeat-x;
	margin-top:10px;
}

div.lowerleft
{
	background-color: #edf3ff;
	border-color: Black;
}

div.lowerright
{
	background-color: #f4faff;
	border-color: Black;
}

.langpanel
{
	margin-top: 100px;
}

/* -----------------
   Text Style Colors
   ----------------- */
.titleLink
{
	color: White;
	font-size:18pt;
}

.title
{
	color: Black;
	font-size: 14pt;
	font-weight: bold;
}




div.lowerleft li a {
	border-left-color: #7cc0f3;
	border-right-color: #7cc0f3;
	background-color: #a8d6f7;
}

div.lowerleft li a:hover {
	border-left-color: #c5e3fa;
	border-right-color: #c5e3fa;
	background-color: #d8edfc;
}

table.displayTable
{
	border-width: 1px;
	border-style: solid;
	border-color: #7cb0f3;
	border-collapse: collapse;
}

table.displayTable tr.row1
{
	background-color: #a8d6f7;
}

table.displayTable tr.row2
{
	background-color: #9cd0f3;
}

table.displayTable th 
{
	padding: 2px 10px 2px 10px;
	background-color: #7cb0f3;
}

table.displayTable td 
{
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: #7cb0f3;
	padding: 2px 10px 2px 10px;
}

input, select, textarea
{
	font-size:9pt;
}