/* ----------------------------
   Colors for body and layers
   ---------------------------- */

body 
{
	background-color: #ccdeff;
	/*background-color: #3e7eb4;*/
}

div.topbar
{
	background-color: #0b3558;
	color: White;	
	border-color: #0b3558;
}

div.topbarLeft
{
}

div.topbarRight
{
}

div.lower
{
	background-image: url(grad1.jpg);
	background-repeat: repeat-x;
}

div.lowerleft
{
	background-color: #edf3ff;
	border-color: Black;
}

div.lowerright
{
	background-color: #f4faff;
	border-color: Black;
}

.langpanel
{
	margin-top: 100px;
}

/* -----------------
   Text Style Colors
   ----------------- */
.titleLink
{
	color: White;
}

.title
{
	color: Black;
}




div.lowerleft li a {
	border-left-color: #7cc0f3;
	border-right-color: #7cc0f3;
	background-color: #a8d6f7;
}

div.lowerleft li a:hover {
	border-left-color: #c5e3fa;
	border-right-color: #c5e3fa;
	background-color: #d8edfc;
}