/* -------------------------- 
   Containers and positioning
   -------------------------- */

body 
{
	margin: 0px;
	padding: 0px;
	font-family: Sans-Serif;	
}

div.topbar
{
	width: 100%;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 2px;
}

div.topbarLeft
{
	padding: 5px;
	float: left;
}

div.topbarRight
{
	float: right;
	padding: 5px;
	text-align: right;
}

div.lower
{
	position: absolute;
	width: 100%;
	top: 32px;
	margin: 0px;
	margin-top: 5px;
}

div.lowerleft
{
	float: left;
	width: 200px;
	padding: 10px;
	border-style: solid;
	border-width: 2px 2px 2px 0px;
	min-height: 300px;
	_height: 300px;
}

div.lowerright
{
	margin-left: 230px;
	margin-right: 10px;
	padding: 10px;
	min-height:  500px;
	_height: 500px;
	border-style: solid;
	border-width: 2px;
}

div.toprated
{
	float: right;
	width: 325px;
}

/* ----------------------------
   Text Styles
   --------------------------- */

.titleLink
{
	text-decoration: none;
	font-weight: bold;
}

.title
{
	font-size: 24pt;
	font-family: Sans-Serif;
}

.leftNav
{
	font-size: 16pt;
	font-family: Sans-Serif;
	font-weight: bold;
}