body 
{
	font-family: Sans-Serif, Arial;
	font-size: 9pt;
	margin:0px;
	padding:0px;
	height:101%;
}
img
{
	border: 0px;
}
input, textarea, select, button
{
	font-family: Sans-Serif, Arial;
	font-size: 9pt;
}

a
{
	color: #006dba;
	text-decoration: underline;
	outline: none;
}

a:hover, a:active
{
	color: #CC6600;
	text-decoration: underline;
	outline: none;
}

.top
{
	width: 970px; _width: 982px;
	margin:0px;
	padding:0px;
}
.top_table
{
	width: 100%;
	margin:0px;
	padding:0px;
	vertical-align:middle;
	height:70px;
	border: 0px;
}
.top_logo_td
{
	text-align: left;
}
.top_user_menu_td
{
	text-align:right;
}
.top_menu_td
{
	text-align:right;
	vertical-align: bottom;
}
.top_menu_td a
{
	position: relative;
	bottom: 5px;
	padding: 5px 10px 7px 10px;
	border-right: 1px dashed #CCCCCC;
}
.top_menu_td a:hover, .top_menu_td a:active
{
	color: #cc5705;
	text-decoration: underline;
	background-color: #f6f6f6;
	border-top: 1px solid #e1e1e1;
}
.top_menu_td .select
{
	color: #8c8c8c;
	border-right: 1px dashed #CCCCCC;
	border-top: 1px solid #999999;
	background-color: #f6f6f6;
}
.top_menu_td .end
{
	position: relative;
	bottom: 5px;
	padding: 5px 10px 7px 10px;
	border-right: 1px dashed #CCCCCC;
}

.header_orange_120
{
	height: 120px;
	background: #ff6d06 url('../Image/bg/bg_orange_120h.gif');
}
.header_orange_30
{
	height: 30px;
	background: #ff6d06 url('../Image/bg/bg_orange_30h.gif');
}
.header_gray_120
{
	height: 120px;
	background: gray url('../Image/bg/bg_gray_120h.gif'); 
}
#langbar
{
	width: 100%;
	margin:0px;
	padding:0px;
}
#langbar a
{
	position: relative;
	top: 8px;
	padding: 7px 10px 7px 10px;
	border-right: 1px dashed #CCCCCC;
	color: #000000;
}
#langbar a:hover, .langbar a:active
{
	color: #cc5705;
	text-decoration: underline;
	background-color: #f6f6f6;
	border-top: 1px solid #e1e1e1;
}
#langbar .select
{
	color: #8c8c8c;
	border-right: 1px dashed #CCCCCC;
	border-top: 1px solid #999999;
	background-color: #f6f6f6;
}

.content
{
	width: 970px; _width: 982px;
	padding-top:15px;
}
.content_left_center_right #content_left
{
	float: left;
	width: 245px;
	vertical-align:top;
}
.content_left_center_right #content_center
{
	float: left;
	width: 392px;
	padding: 0px 20px 0px 20px;
	vertical-align:top;
}
.content_left_center_right #content_right
{
	float: right;
	width: 282px;
	vertical-align:top;
}

.content_big_left_right #content_left
{
	float: left;
	width: 663px;
	vertical-align:top;
}
.content_big_left_right #content_center
{
	display: none;
}
.content_big_left_right #content_right
{
	float: right;
	width: 282px;
	vertical-align:top;
}

.content_equal_left_right #content_left
{
	float: left;
	width: 472px;
	vertical-align:top;
}
.content_equal_left_right #content_center
{
	display: none;
}
.content_equal_left_right #content_right
{
	float: right;
	width: 472px;
	vertical-align:top;
}

.boxpanel
{
	text-align:left;
	border:solid 1px #acacac;
	margin-bottom:15px;
	width: auto;
}
.boxpanel .title
{
	width: auto;
	text-align:left;
	font-weight:bold;
	color:#000000;
	border-top:solid 1px #fff;
	border-left:solid 1px #fff;
	border-bottom:solid 1px #acacac;
	background:#E6E6E6;
	line-height:20px;
	padding-left:12px;
}
.boxpanel .title_orange
{
	width: auto;
	text-align:center;
	color:#fff;
	font-weight:bold;
	border-top:solid 1px #fff;
	border-left:solid 1px #fff;
	border-bottom:solid 1px #acacac;
	background:#F18B00;
	line-height:20px;
}
.boxpanel .content
{
	padding:10px;
	width: auto;
}
.boxpanel .content_gray
{
	width: auto;
	padding:10px;
	line-height:15px;
	padding-top:8px;
	text-align:center;
	border-top:solid 1px #acacac;
	background:#F1F1F1;
}


.userregisterpanel .content .step_gray
{
	padding: 5px 0px 10px 20px;
	background: #EEEEEE;
}
.userregisterpanel .content .step
{
	padding: 5px 0px 10px 20px;
	background: #FFFFFF;
}




.standardpanel
{
	width: auto;
	padding-bottom:10px;
}
.standardpanel .title
{
	text-align:left;
	font-size: 12pt;
	font-weight: bold;
	border-bottom: dashed 1px #666666;
}
.standardpanel .content
{
	width: auto;
	padding-left:20px;
	text-align:left;
	line-height:30px;
}
.standardpanel .colheading
{
	font-weight: bold;
}
.standardpanel .content .description
{
	line-height:normal;
}

.omniprofilepaneltable
{
	line-height: 250%;
}
.omniprofilepaneltable .colheading
{
	font-weight: bold;
}
.omniprofilepaneltable .colheading_lg
{
	font-size: 200%;
	font-weight: bold;
}


.viewtranstab a
{
	position: relative;
	top: 8px;
	padding: 7px 10px 7px 10px;
	border-right: 1px dashed #CCCCCC;
	color: #000000;
}
.viewtranstab a:hover, .viewtranstab a:active
{
	color: #cc5705;
	text-decoration: underline;
	background-color: #f6f6f6;
	border-top: 1px solid #e1e1e1;
}
.viewtranstab .select
{
	color: #8c8c8c;
	border-right: 1px dashed #CCCCCC;
	border-top: 1px solid #999999;
	background-color: #f6f6f6;
}


.detailtable
{
	background-color: #f8f8f8;
	border: outset 1px Black;
	line-height: 175%;
	width: 455px;
}
.detailtable tr th
{
	background-color: #dddddd;
	font-weight: bold;
	border: inset 1px Black;
}
.detailtable tr td
{
	background-color: #f8f8f8;
	border: inset 1px Black;
}

.transtable
{
	background-color: #f8f8f8;
	border: outset 1px Black;
	line-height: 175%;
	width: 452px;
	font-size: 95%;
}
.transtable tr td
{
	border: inset 1px Black;
}
.transtable .data
{
	background-color: #f8f8f8;
}
.transtable .header
{
	background-color: #dddddd;
	font-weight: bold;
}



.hint
{
	padding-left: 16px;
	background-position:left;
	background-repeat:no-repeat;
	background-image: url('/Image/info.gif');
}

.heading
{
	font-weight: bold;
	font-size: 140%;
	margin: 0pt;
	line-height: 100%;
}

.para
{
	line-height: 150%;
}

.footer
{
	display: block;
	text-align: center;
	width: 970px; _width: 982px;
	clear: both;
	border-top: 1px dashed #666666;
	color:#666666;
	padding: 10px;
}

.shader
{
	display:block;
	visibility:hidden;
	width:100%;
	height:100%;
	z-index:10;
	position:absolute;
	top:0px;
	left:0px;
	background: #000000;
	filter: alpha(opacity=80);
	opacity: 0.80;
}

.placeholder
{
	display:block;
	width:100%;
	height:101%;
	z-index:-11;
	position:absolute;
	top:0px;
	left:0px;
	background:#FFFFFF;
}
.splash
{
	display:block;
	width:100%;
	height:100%;
	z-index:11;
	position:absolute;
	top:0px;
	left:0px;
	background:#FFFFFF;
	text-align:center;
	vertical-align:middle;
}


/* rater */	
.rater
{
	list-style:none;
	margin: 0px;
	padding:0px;
	width: 125px;
	height: 25px;
	position: relative;
	overflow:hidden;
	background: url(../image/rater.gif) top left repeat-x;
}
.rater li
{
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
}
.rater li a
{
	display:block;
	width:25px;
	height: 25px;
	line-height:25px;		
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
	overflow:hidden;
}
.rater li a:hover
{
	background: url(../image/rater.gif) left bottom;
	z-index: 3;
	left: 0px;
	border:none;
}
.rater a.star-one{left: 0px;}
.rater a.star-one:hover{width:25px;}
.rater a.star-two{left:25px;}
.rater a.star-two:hover{width: 50px;}
.rater a.star-three{left: 50px;}
.rater a.star-three:hover{width: 75px;}
.rater a.star-four{left: 75px;}	
.rater a.star-four:hover{width: 100px;}
.rater a.star-five{left: 100px;}
.rater a.star-five:hover{width: 125px;}
.rater li.current-rating
{
	background: url(../image/rater.gif) center left;
	position: absolute;
	height: 25px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
}
.rater li.user-rating
{
	background: url(../image/rater.gif) left bottom;
	position: absolute;
	height: 25px;
	display: block;
	text-indent: -9000px;
	z-index: 2;
}

