<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="Omni.Service.ServiceSession.Expires" value="10"/>
    <add key="Omni.Service.ServiceSession.CleanInterval" value="10000"/>
    <add key="Omni.Service.Captcha.Length" value="5"/>
    <add key="Omni.Service.Captcha.CharacterSet" value="2345789cefghjkmnpqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ"/>
    <add key="Omni.Service.Captcha.FontSet" value="Times New Roman,Georgia,Arial,Comic Sans MS"/>
    <add key="Omni.Service.Captcha.DistortRangeLower" value="8"/>
    <add key="Omni.Service.Captcha.DistortRangeHigher" value="12"/>
    <add key="Omni.Service.Captcha.DistortRange" value="5"/>
    <add key="Omni.Service.Email.FromAddress" value="no-reply@omniproject.org"/>
    <add key="Omni.Service.Email.FromName" value="Omni Project"/>
    <add key="Omni.Service.Email.ServerHost" value="smtp.winisp.net"/>
    <add key="Omni.Service.Email.ServerPort" value="25"/>
    <add key="Omni.Service.UserContext.MaxTrial" value="3"/>
    <add key="Omni.Service.UserContext.TrialLockInterval" value="5"/>
    <add key="Omni.Data.Connection" value="Sql"/>
  </appSettings>
  <connectionStrings>
    <add name="Sql" connectionString="Data Source=sql2k508.discountasp.net;Initial Catalog=SQL2005_377911_omniproject;User ID=SQL2005_377911_omniproject_user;Password=iRe4346s"/>
  </connectionStrings>
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
      <customErrors mode="Off"/>
      <httpModules>
        <add name="Omni.Web.HttpModule" type="Omni.Web.HttpModule, Omni.Web"/>
      </httpModules>
    </system.web>
</configuration>
